//
//  Development.xcconfig
//  Calculator
//
//  Created by George Vardikos on 22/08/2019.
//  Copyright © 2019 George Vardikos. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Calculator α
//ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Alpha

API_BASE_URL =
